body{
    padding-bottom: 500px;
}


/*comentário*/
/*h2{
    color:red;
}*/

/*Classes*/

.paragraph{
    background-color: #e3e2e2;
    color: rgb(59, 25, 253);
    font-size: 20px;
}

/* Id's*/

#header{
    color: #1e3;
    font-size: 30px;
}

/*Ordem do CSS*/

/*h2{
    border-bottom: 2px solid red;
}

#algum-titulo{
    color: aqua;
    border-bottom: solid 5px orange;
}

.titulo{
    color:black;
    border-bottom: solid 4px blue;
}

/*Hexadecimal*/
.hex{
    font-size: 30px;
    color: #4e6a5b;
}

.hex2{
    font-size: 30px;
    color: #333;
}

/*RGB*/

.rgb-color{
    font-size: 30px;
    color: rgb(78, 15, 122);
}

/*RGBA*/

.rgba-color{
    color: rgba(155, 35, 42, .3);
} 

/* background*/

.bg{
    background-color: #000;
    color: #abc528;
}

.bg-2{
    background-color: #333;
    color: #1e3;
}

/*background opacity*/

.bg-opacity{
    background-color: #4e6a5b;
    opacity: .2;
}

.bg-p{
    color: #fff;
}

/* RGBA OPACITY */

.rgba-opacity{
    background-color: rgba(90, 120, 20, .2);
    color: #000000;
}